[Unit] 
Description=Service reading from chardev and writing into file 

[Service] 
User=root
ExecStart=/home/bair/kernel_practice/systemd_kernel/symbol_driver/a.out
Restart=always 

[Install] 
WantedBy=multi-user.target
